<%= form_with(model: manga, local: true) do |form| %>
  <% if manga.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manga.errors.count, "error") %> prohibited this manga from being saved:</h2>

      <ul>
      <% manga.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :series_id %>
    <%= form.text_field :series_id %>
  </div>

  <div class="field">
    <%= form.label :volume_number %>
    <%= form.number_field :volume_number %>
  </div>

  <div class="field">
    <%= form.label :cover_image_url %>
    <%= form.text_field :cover_image_url %>
  </div>

  <div class="field">
    <%= form.label :download_url %>
    <%= form.text_field :download_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
